<div class="modal fade bs-example-modal-lg" id="login-error" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img src="/assets/images/youshallnotpass.jpg" class="img-responsive">
    </div>
  </div>
</div>
