<li>
  {{link-to 'View Inventory' 'general.view_inventory' }}
</li>
<li>
  {{link-to 'Search' 'general.search'(query-params name="null" apparelType="null" gameType="null" figureType="null" materialType="null" size="null" type="null")}}
</li>
<li>
  {{link-to 'Subscriptions' 'general.subscriptions'}}
</li>
<li>
  {{link-to 'Add Inventory' 'general.add_inventory' (query-params id="null" name="null")}}
</li>
