.navbar-default {
  background-color:	#677578;
  background-image: none;
  border-color:	#677578;
  border-bottom-color: #ff8119;
  background-repeat: no-repeat;
  border-radius: 0px;
}
.hiddenRow {
    padding: 0 !important;
}
.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color:  #7c888b;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:focus {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-brand:hover {
  color: white;
  background-color: #7c888b;
}
@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}
.login-panel{
  margin-top: 25%;
}
.background{
  background-color: #15b9d6;
  border-color: #495456;
  border-radius: 0px;
  height:250%;
}

body {
  padding-top: 50px;
  background-color: #15b9d6;
 }

#wrapper {

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    width: 250px;
    position: fixed;
    left: 150px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background:#414141;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper.shown {
    z-index: 1000;
    width: 250px;
    position: fixed;
    left: 150px;
    width: 250px;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background:#414141;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 80px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color:  #ff5603;
    background: rgba(255,255,255,0.1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color:  #ff5603;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    .login {
      margin-left: -250px;
     }

    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }
    #sidebar-wrapper.login-screen {
        width: 0;
    }
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;

    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;

    }

    #wrapper #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar-toggle {
  position: relative;
  float:left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #62DEFF;
}

thead{
  background-color:	#677578;

  border-bottom-color: #ff8119;
  color: white;
}
tbody{
  background-color: rgba(103,117,120,0.3)
}
tr{
  border-color:	#677578;
}
.add-inven-message{
  color: white;
  background-color: #677578;
  border: 2px solid black;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: #677578;
  background-image: none;
  border: 2px solid black;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border:2px solid #66afe9;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: white;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: white;
}
.form-control::-webkit-input-placeholder {
  color: white;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.add-inventory-form{
  background-color: rgba(103,117,120,0.85);
}
.add-inventory-form-header{
  background-color: #677578;
  border: 2px solid black;
  color: white;
}
