<div class="container-fluid">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">Item Name</th>
            <th>COND</th>
            <th>QTY</th>
            <th>CATEGORY</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |item|}}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>NA</td>
              <td>{{item.quanity}}</td>
              <td>{{item.typeName}}</td>
              <td>NA</td>
            </tr>
          {{/each}}

        </tbody>
      </table>

    </div>
  </div>
</div>
